:root {
  --GREEN:#d0dca4;
  --ORANGE:#ffac74;
  
  --GREY:#d0cccc;
  --BROWN:#682c1c;
  }
  

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--GREEN); /* Slightly lighter background */
  color: var(--BROWN);
}

.home {
  max-width: 1000px;
  margin: 20px auto; /* Added some margin for breathing space */
  padding: 30px; /* Increased padding for a fuller feel */
  background-color: var(--GREEN);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
}

.centerText {
  text-align: center;
}

.subtleText {
  color:  var(--BROWN); /* Darkened the text color for a more professional look */
  font-size: 40px; /* Increased font size for emphasis */
  font-weight: bold;
  padding-bottom: 10px; /* Increased padding for a fuller look */
  margin-bottom: 30px; /* Increased margin for more separation */
  text-align: left;
}

.right-title {
  color: var(--BROWN); /* Darkened the text color for a more professional look */
  font-size: 27px; /* Increased font size for emphasis */
  font-weight: bold;
  padding-bottom: 10px; /* Increased padding for a fuller look */
  margin-bottom: 30px; /* Increased margin for more separation */
  text-align: left;
}

.exit {
  margin-top: 30px; /* Increased margin for more separation */
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 15px 25px; /* Increased padding for a fuller button */
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px; /* Increased font size for emphasis */
  display: flex;
  align-items: center;
}

.exit:hover {
  background-color: #c0392b;
}

.ant-table {
  background-color: var(--GREEN);
}

.ant-table-thead > tr > th {
  background-color: #3498db;
  color: #fff;
}

.ant-table-tbody > tr > td {
  background-color: #ecf0f1;
}

.ant-table-row:hover > td {
  background-color: #d4e6f1;
}

.titleBorder {
  border-top: 4px solid #27ae60;
  margin-top: -30px; /* Adjusted margin for better alignment */
}

.footer {
  text-align: center;
  margin-top: 30px; /* Adjust margin based on your design preferences */
  padding: 10px;
  background-color: #f4f4f4;
  border-top: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.the-box{
  display: grid; 
  grid-template-columns: 3fr 1fr;

}
.main-box{

}

button {
  padding: 8px 16px;
  margin-left: 8px;
  border-radius: 4px ;
  cursor: pointer;
  background-color:  var(--ORANGE);
  color: var(--BROWN);
  
}

a {
  text-decoration: none; /* Removes the underline */
  color: var(--BROWN); /* Set the color you want */
}

a:hover {
  /* Optional: Add styles for when the link is hovered */
  text-decoration: underline; /* Add underline on hover if desired */
  color:  var(--BROWN); /* Set the hover color */
}

.right-bar{
  max-width: 80%;
  margin: 50px auto 0;
  padding: 20px;
  background-color: var(--ORANGE);
  border-radius: 8px;
  max-height: auto;
  border: 1px solid var(--BROWN);
  position: relative; /* Set relative positioning for child elements */
  
}

li {
  margin-top: 10px;
}