:root {
--GREEN:#d0dca4;
--ORANGE:#ffac74;

--GREY:#d0cccc;
--BROWN:#682c1c;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  align-items: center;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

.home {
  max-width: 85%;
  margin: 50px auto 0;
  padding: 20px;
  color: var(--GREEN);
  border-radius: 8px;
  min-height: 100%; /* Ensure that the content fills at least 100% of the viewport height */
  position: relative; /* Set relative positioning for child elements */
}

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ff5e00;
  
}
.the-box{
  
  display: flex; 
  flex-direction: column;
  background-color: red;
}

.logo{
  width: 120px;
  cursor: pointer;
}

.navbar ul li{
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
}

.centerText {
  text-align: center;
}

.subtleText {
  color: #555;
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  
}


.exit {
  margin-top: 20px;
  background-color: var(--ORANGE);
  border: 1px solid var(--BROWN);
  color: var(--BROWN);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.exit:hover {
  background-color: #c0392b;
}

/* Add a different color scheme for the table */
.ant-table {
  background-color: #ffffff;
}

.ant-table-thead > tr > th {
  background-color: #3498db;
  color: #fff;
}

.ant-table-tbody > tr > td {
  background-color: #ecf0f1;
}

.ant-table-row:hover > td {
  background-color: #d4e6f1;
}

/* Add a title border at the top with a different color */
.titleBorder {
  border-top: 4px solid ; /* Green color for the title border */
  margin-top: -20px; /* Adjust margin to overlap with the subtleText margin */
}
.footer {
  position: absolute; /* Set absolute positioning for the footer */
  bottom: 0; /* Align the bottom edge of the element to the bottom of its containing element */
  width: 100%; /* Full width */
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  background-color: var(--ORANGE);
  color: var(--BROWN);
  border-top: 1px solid var(--BROWN);
  border-radius: 8px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  
  font-weight: bold;
}